.player{
    width: 800px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;  
}
.player img{
    border-radius: 20px;
}
#add-button{
    background-image: linear-gradient(green, red);
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}